:root {
  --laranja-queimado: #D26A29;
  --verde-petroleo: #2F9C95;
  --charcoal: #1C1C1E;
  --laranja-claro: #F2A371;
  --verde-claro: #A1D6D3;
  --cinza-medio: #B0B0B0;
  --cinza-claro: #F4F4F4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body {
    background-color: var(--cinza-claro);
    color: var(--charcoal);
    font-size: 16px;
    height: 100vh;
}

.container_conteudo {
    max-width: 600px;
    margin: auto;
    padding: 0 20px;
    text-align: center;
    display: flex;
    flex-direction: column; 
}

img.logo {
    width: 120px;
    margin: 20px auto;
}

p#descr{
    color: var(--verde-petroleo);
    margin: 0 0 10px 0;

}

a.link {
    border-radius: 12px;
    border: solid 1px var(--laranja-queimado);
    color: var(--laranja-queimado);
    transition: color 0.3s ease;
    padding: 10px;
    margin: 5px 0;
}

div.endereco{
    margin: 20px 0;
    color: var(--verde-petroleo);
}

.mapa{
    width: 100%;
    border: none;
    border-radius: 12px;
    margin: 10px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.322);
}

footer.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 10px;
    text-align: center;
    font-size: 12px;
    color: var(--cinza-medio);
    width: 100%;
    background-color: var(--cinza-claro);
}

footer a{
    color: var(--laranja-queimado);
}